body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.calculator {
  width: 50vw;
  height: 60vh;
  border: 2px solid lightgray;
  padding: 10px;
  background-color: black;
  border-radius: 15px;
}

.result-field {
  width: 100%;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 25px 0px;
}

.numbers-side {
  display: flex;
  width: 65%;
  justify-content: space-between;
}


.operators-side {
  display: flex;
  width: 25%;
  justify-content: space-between;
}

.background-red {
  background-color: red;
}
